{% for vlan in vlans %}

{% if vlan.state is defined and vlan.state == 'absent' %}
dot1q
no vlan {{ vlan.id }}
interface {{ vlan.interface }}

{% else %}
dot1q
vlan {{ vlan.id }}
interface {{ vlan.interface }}

{% endif %}
{% endfor %}
